html {
	--side-nav-fixed-width: 340px;
    --primary-color: #1F32A8;
    --primary-dark-color: #38427C;
    --primary-light-color: #7787E5;
}

html.dark-mode {
    color-scheme: dark;

    --primary-color: #2A43D3;
    --primary-dark-color: #5061C4;
    --primary-light-color: #3E4C99;
}

.github-corner svg {
    fill: var(--primary-light-color);
    color: var(--page-background-color);
    width: 72px;
    height: 72px;
}

#projectnumber {
	margin-right: 22px;
}

@media screen and (max-width: 767px) {
    .github-corner svg {
        width: 50px;
        height: 50px;
    }
    #projectnumber {
        margin-right: 22px;
    }
}

#projectnumber {
        margin-left: 5%;
}